<h1>Adnat</h1>

<h2>Organisation Name : <%= current_user.organisation&.name %></h2>

<br>
<p>Serch by name :- </p>
<form action="<%= search_shifts_path %>" data-turbo-frame="shifts_frame"    >
  <%= text_field_tag :employee_name, "", id: "search_employee_name" %>
  <%= submit_tag "Search", id: "formSubmit" %>
  <br>
  <h3>Shifts</h3>
</form>


  <turbo-frame id="shifts_frame">
  <table class="table table-bordered" border="2" id="shift_table">
    <tr>
      <th>Employee Name</th>
      <th>Shift Date</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Break Length (minutes)</th>
      <th>Hours Worked</th>
      <th>Shift Cost</th>
    </tr>
    <tr ></tr>

      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.employee_name %></td>
          <td><%= shift.start&.strftime("%m/ %d/ %y") %></td>
          <td><%= shift.start&.strftime("%I:%M %p") %></td>
          <td><%= shift.finish&.strftime("%I:%M %p") %></td>
          <td><%= shift.break_length %></td>
          <td><%= shift.hours_worked %></td>
          <td><%= shift.cost %>$</td>
        </tr>
      <% end %>

    <tr id="shift_row">

        <td><%= text_field_tag :employee_name, current_user.name %>
          </td>
        <td><%= date_field_tag :start_date, nil, required: true %></td>
        <td><%= time_field_tag :start_time, nil, required: true %></td>
        <td><%= time_field_tag :finish, nil, required: true %></td>
        <td><%= number_field_tag :break_length, nil, required: true %></td>
        <td colspan="2">
          <button onclick="submitForm()">Save Shift</button>
        </td>

    </tr>
  </table>
  </turbo-frame>
  <div id="Shift_errors">



  </div>
  <p><%= link_to "Back", organisations_path(@organisation) %></p>
<input type="hidden" name="employee_id" id="employee_id" value="<%= current_user.id %>">
<script type="text/javascript">
  function submitForm(){
    $.ajax({
      url: "/shifts",
      method: "POST",
      data: {
        employee_id: $("#employee_id").val(),
        start_date: $("#start_date").val(),
        start_time: $("#start_time").val(),
        finish: $("#finish").val(),
        break_length: $("#break_length").val(),

      },
      success: function(response){
        $("#start_date").val(""),
        $("#start_time").val(""),
        $("#finish").val(""),
        $("#break_length").val(""),

        $(
          "<tr><td>"+response.employee_name+
          "</td><td>"+response.start_date+
          "</td><td>"+response.start_time+
          "</td><td>"+response.finish+
          "</td><td>"+response.break_length+
          "</td><td>"+response.hours_worked+
          "</td><td>"+response.cost+
          "</td></tr>"
        ).insertBefore($("#shift_row"));
        $("#Shift_errors").html("")
      },
      error: function(response){

        $("#Shift_errors").html(response.responseJSON.message)

      }
    });
    return false;
  }
</script>