<%= turbo_frame_tag "shifts_frame" do %>
  <table border="2" id="shift_table">
    <tr>
      <th>Employee Name</th>
      <th>Shift Date</th>
      <th>Start Time</th>
      <th>Finish Time</th>
      <th>Break Length (minutes)</th>
      <th>Hours Worked</th>
      <th>Shift Cost</th>
    </tr>
    <tr ></tr>

      <% @shifts.each do |shift| %>
        <tr>
          <td><%= shift.employee_name %></td>
          <td><%= shift.start&.strftime("%m/ %d/ %y") %></td>
          <td><%= shift.start&.strftime("%I:%M %p") %></td>
          <td><%= shift.finish&.strftime("%I:%M %p") %></td>
          <td><%= shift.break_length %></td>
          <td><%= shift.hours_worked %></td>
          <td><%= shift.cost %></td>
          <td><%= link_to "Edit", organisations_path(@organisation) %></td>
          <td><%= link_to "Delete", shifts_path(@shifts), data:
                 { turbo_method: :delete, turbo_confirm:     :'Are you sure ?' } %></td>
        </tr>
      <% end %>

    <tr id="shift_row">
      <%= form_tag "/shifts", id: 'shift_form' do %>
        <td><%= text_field_tag :employee_name, current_user.name %></td>
        <td><%= date_field_tag :start_date, nil, required: true %></td>
        <td><%= time_field_tag :start_time, nil, required: true %></td>
        <td><%= time_field_tag :finish, nil, required: true %></td>
        <td><%= number_field_tag :break_length, nil, required: true %></td>
        <td colspan="2"><%= submit_tag %></td>
      <% end %>
    </tr>
  </table>

<% end %>